/* DEBUG BOX */
.box {
    height: 100px;
    border: 2px solid black;
}

/* DEBUG UTILITIES */
.height-300 {
    height: 300px;
}

.height-700 {
    height: 700px;
}

/* DEBUG COLORS */
.blue {
    background-color: blue;
}

.lightblue {
    background-color: lightblue;
}

.green {
    background-color: green ;
}

.red {
    background-color: red;
}